
/* Header */
.header{
    background-image: url(../images/home-header-bg.png);
    width: 100%;
    height: 91vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.navLink{
    color: #fff !important;
}